*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.calculator{
    position: absolute; 
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.result{
    background-color: #212121;
    color: #fafafa;
    border-radius: 8px 8px 0 0;
    padding: 20px;
    font-size: 2.5rem;
}

.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.buttons button{
    padding: 25px;
    font-size: 1.5rem;
    transition: .4s all linear;
    border: none;
}

.buttons button:hover{
    background-color: #e0e0e0;
}

.buttons button:active{
    background-color: #bdbdbd;
}

.equal{
    background-color: coral;
}
.gif{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}